{% extends "skin/layout.html" %}

{% load i18n %}

{% block extrahead %}
<style>
.customers {
    float: right;background-color: transparent;
    border: medium none;
    color: #FFFFFF;
    float: right;
    font-size: 0.8em;
}
</style>
{% endblock extrahead %}


{% block menu %}
    {% include "billout/menu.html" %}
    {% block extramenu %}
    {% if request.user.is_superuser %}
    <select class="customers" onchange="window.location.href=this.options[this.selectedIndex].value">
        <option value="#">{% trans "Change customer" %}</option>
        {% for customer in customers %}
        <option value="{% url bills customer.username %}">{{ customer.username }}</option>
        {% endfor %}
    </select>
    {% endif %}
    {% endblock extramenu %}
{% endblock menu %}



{% block main %}
<h1>{{customer.username.title }} {% trans "Bills" %}</h1>
<div class="box">
    <table>
        <tr>
            <th class="column-header">#</th>
            <th class="column-header">{% trans "Customer" %}</th>
            <th class="column-header">{% trans "Date" %}</th>
            <th class="column-header">{% trans "Total" %}</th>
            <th class="column-header">{% trans "Payed?" %}</th>
        </tr>
    {% for bill in bills %}
        <tr>
            <td><a href="{% url bill bill.id %}">{{ bill.id}}</a></td>
            <td>{{ bill.customer }}</td>
            <td>{{ bill.date }}</td>
            <td class="number">{{ bill.total_with_taxes }}$</td>
            <td class="number">{% if bill.payed %}✓{% endif %}</td>
        </tr>
    {% endfor %}
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <th>{{ balance }}$</th>
        <th>{% trans "Amount due" %}</th
     </tr>
    </table>
</div>

{% endblock main %}
