{% extends "skin/layout.html" %}

{% load i18n %}

{% block main %}
<div class="box">
    <h1 class="box-handle">{% trans "Bills" %}</h1>
    <div class="details">
        <table>
            <tr>
                <th>#</th>
                <th>{% trans "Date" %}</th>
                <th>{% trans "Total ($)" %}</th>
                <th>{% trans "Payed?" %}</th>
            </tr>
        {% for bill in bills %}
            <tr>
                <td><a href="{% url bill bill.id %}">{{ bill.id}}</a></td>
                <td>{{ bill.date }}</td>
                <td class="number">{{ bill.total_with_taxes }}$</td>
                <td class="number">{% if bill.payed %}✓{% endif %}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
</div>
{% endblock main %}
