{% extends "skin/layout.html" %}

{% load i18n %}

{% block extrahead %}
<style>
	td, th {max-width: 20em;}
</style>
{% endblock extrahead %}

{% block menu %}
    {% include "billout/menu.html" %}
{% endblock menu %}

{% block main %}
<h1>[{{ bill.customer.username.upper }}] {% trans "bill" %} #{{ bill.id }}</h1>
<table class="table">
    <tr><th>{% trans "Date" %}<th><td>{{bill.date }} {% if bill.payed %}
                    <span class="payed">({% trans "Payed on" %} : {{ bill.date_payed }})</span> {% endif %}
            </td></tr>
    <tr><th>{% trans "#TPS" %}<th><td>{{ TPS_NUM }}</td></tr>
    <tr><th>{% trans "#TVQ" %}<th><td>{{ TVQ_NUM }}</td></tr>
    <tr><th>{% trans "Payment infos" %}<th><td>{{ PAY_INFO|linebreaks }}</td></tr>
    <tr><th>{% trans "Address" %}<th><td>{{ ADDRESS|linebreaks }}</td></tr>
</table>

<table class="table">
    <tr>
        <th>{% trans "Total worked hours" %}</th>
        <td class="number">{{ bill.total_worked_hours }}H</td>
    </tr>
    <tr>
        <th>{% trans "Total" %}</th>
        <td class="number">{{ bill.total_without_taxes }}$</td>
    </tr>
    <tr>
        <th>{% trans "TPS" %} ({{ tps_rate }}%)</th>
        <td class="number">{{ bill.total_tps }}$</td>
    </tr>
    <tr>
        <th>{% trans "TVQ" %} ({{ tvq_rate }}%)</th>
        <td class="number">{{ bill.total_tvq }}$</td>
    </tr>
    <tr>
        <th>{% trans "Total taxes included" %}</th>
        <td class="number"><strong>{{ bill.total_with_taxes }}$</strong>
        {% if not bill.payed %}
            <form action="" method="POST">
              <script
                src="https://checkout.stripe.com/v2/checkout.js"
                class="stripe-button"
                data-key="{{ STRIPE_KEY }}"
                data-amount="{{ STRIPE_AMOUNT }}"
                data-name="USINASITE"
                data-description="{{ STRIPE_DESC }}">
              </script>
            </form>
        {% endif %}
        </td>
    </tr>
</table>

<table class="table table-striped">
    <tr>
        <th class="column-header">{% trans "Project" %}</th>
        <th class="column-header">{% trans "Date" %}</th>
        <th class="column-header">{% trans "Hours (H)" %}</th>
        <th class="column-header">{% trans "Comment" %}</th>
        <th class="column-header">{% trans "Rate ($/H)" %}</th>
        <th class="column-header">{% trans "TPS" %}</th>
        <th class="column-header">{% trans "TVQ" %}</th>
    </tr>
{% for item in items %}
    <tr>
        <td>{{ item.activity.project.name|default:"-" }}</td>
        <td>{{ item.activity.date|date:"SHORT_DATE_FORMAT" }}</td>
        <td class="number">{{ item.activity.hours }}</td>
        <td>{{ item.activity.comment }}</td>
        <td class="number">{{ item.rate }}</td>
        <td class="number">{% if item.tps %}✓{% endif %}</td>
        <td class="number">{% if item.tvq %}✓{% endif %}</td>
    </tr>
{% endfor %}
</table>



{% endblock main %}
